main {
  max-width: 1200px;
}

h1, h2 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

.card {
  border: solid 1px #eee;
  padding: 1rem;
}

.card .data {
  text-align: center;
  margin: 1.25rem 0;
}

.card .data .value {
  font-size: 2rem;
}

.card .data .dimension {
  font-size: 1.5rem;
}


